@import "~@coreui/coreui/scss/coreui";


.img-thumbnail-tinymce {
    padding: 0.25rem;
    background-color: #ffffff;
    border: 1px solid #f8fbff;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
